@font-face {
    font-family: "Skinny bold";
    src: url("./fonts/TheSkinny-bold.otf");
}

@font-face {
    font-family: "Skinny";
    src: url("./fonts/TheSkinny.otf");
}

html {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: 'Libre Baskerville', sans-serif
}

body {
    /* overflow: hidden;
    overflow-y: scroll; */
    margin: 0;
}

p {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
    padding: 0;
}

h3 {
    margin: 0;
    padding: 0;
}



