.EventList {
   width: 90%; 
   margin-bottom: 3em;
   margin: auto;
}

@media (min-width: 599px) {
    .EventList {
        margin-top: 3em;
        width: 500px;
    }
}

@media (min-width: 999px) {
    .EventList {
        margin-top: 3em;
        width: 800px;
    }
}